[submodule "third_party/php-keccak"]
	path = third_party/php-keccak
	url = https://github.com/deemru/php-keccak
[submodule "third_party/secqru"]
	path = third_party/secqru
	url = https://github.com/deemru/secqru
[submodule "third_party/ca-bundle"]
	path = third_party/ca-bundle
	url = https://github.com/deemru/ca-bundle
[submodule "third_party/curve25519-php"]
	path = third_party/curve25519-php
	url = https://github.com/deemru/curve25519-php
